
<button mat-raised-button >
Start
</button>

<mat-vertical-stepper  #stepper>
  <mat-step  [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Podaj dane osobowe</ng-template>
      <form class="name-form">
      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input matInput placeholder="Podaj imię" formControlName="firstCtrl" required>
      </mat-form-field>
      </form>
      <form class="surname-form">
      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input matInput placeholder="Pojad nazwisko" formControlName="firstCtrl" required>
      </mat-form-field>
      </form>
      <form class="surname-form">
        <mat-form-field>
          <mat-label>Jednostka</mat-label>
          <input matInput placeholder="Pojad jednostkę" formControlName="firstCtrl" required>
        </mat-form-field>
        </form>
      <div>
        <button mat-raised-button color="accent" matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form  [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Posiadane poufne informacje</ng-template>

        <div class="add-button-container">
          <button style="margin-bottom: 25px; margin-left: 0px" mat-fab color="warn" aria-label="add icon">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      <div>
        <button style="margin-right: 30px"  mat-raised-button color="accent" matStepperPrevious>Wróć</button>
        <button matStepperNext mat-raised-button color="accent"  >Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Zrobione</ng-template>
    <div>
      <button style="margin-right: 30px" mat-raised-button color="accent" matStepperPrevious>Wróć</button>
      <button style="margin-right: 30px" mat-raised-button color="accent" (click)="stepper.reset()">Sprawdź od nowa</button>
      <button mat-raised-button color="accent" >Zapisz</button>
    </div>
  </mat-step>
</mat-vertical-stepper>




