<mat-card class="subform-card">
  <mat-card-header>
    <div mat-card-avatar class="subform-header-image"></div>
    <mat-card-title>CV</mat-card-title>
    <mat-card-subtitle>Poufne informacje uzyskane na podstawie przesłanych CV</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Ryzyko: 1-10
      Wpływ: 1-10
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button button mat-raised-button color="accent">Edytuj</button>
    <button button mat-raised-button color="accent">Usuń</button>
  </mat-card-actions>
</mat-card>
